<form>
    <h1>Job Description Settings</h1>
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">Description</label>
        <input type="text" class="form-control" id="firstName" placeholder="...">
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Salary</label>
        <input type="lastName" class="form-control" id="lastName" placeholder="...">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail">Work Location</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="">
      </div>
      <div class="form-group col-md-6">
        <label for="education">Education Level</label>
        <input type="text" class="form-control" id="inputEducation" placeholder="Ex: Bachelors, some college, etc">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Work Universe</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">State/Province</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
    </div>
    <div class="form-group">
        <label for="comment">Required Skills</label>
        <textarea class="form-control" rows="3" id="comment"></textarea>
    </div>
    <div class="form-row">
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="relocate">
          <label class="form-check-label" for="relocate">
            Willing to Relocate
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Willing to do Overtime
            </label>
        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>